@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #ffffff;
}

b {
    font-weight: 900;
}

#chart {
  position: relative;
}

.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

.hidden {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 10px;
  border-color: #a6a6a6;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  width: 225px;
  display: block;
}

.tooltip h5 {
  font-size: 1.05rem;
}

.tooltip p {
  font-size: 0.80rem;
}

table {
  border: none;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
}

td {
  text-align: right;
  padding: 2px 0!important;
}

tr {
  margin: 0;
  background-color: white;
}


.node {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2.5px;
  font: 10px sans-serif;
}

.node text {
  color: #333;
}

.link {
    fill: none;
    stroke: #888888;
    stroke-weight: 1px;
    stroke-opacity: 0.5;
}

.legend {
    font-size: 12px;
  }

rect {
  stroke-width: 2;
}

.highlight {
    stroke: red;
    stroke-weight: 4px;
    stroke-opacity: 1.0;
}

.row {
  padding-top: 50px;
}

.col-md-3 {
  background: rgba(250,255,255,0.5);
  border-left: 1px solid #333;
  height: 100%;
}

#english {
  padding: 1em;
  background: rgba(250,255,255,1);
  border-bottom: 1px solid #ccc;
}

#chinese {
  padding: 1em;
  background: rgba(250,255,255,1);
  border-bottom: 1px solid #ccc;
}

#source {
    color: brown;
}

/* Filters */

#accordion {
    position: fixed;
    width: 20%;
    right: 1;
}
.panel-body {
    background: rgba(250,255,255,0.5);
}
.panel-default > .panel-heading{
    /*background: #fff;*/
}

.panel-heading {
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group {
  margin-bottom: 0;
}

.panel-title a {
    color: #333;
    text-align: left;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
    text-decoration: none;
    outline: none;
}

.panel-options {
    padding: 5px;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}