@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

b {
    font-weight: 900;
}

#main {
	margin: 0 auto;
	width: 960px;
}

/*#chart {
  position: relative;
}*/

.segment {
	border: 1px dashed #ccc;
	padding: 2px;
	margin: 2px;
}

.segment:hover {
	border: 1px solid #333
}

.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

.hidden {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 10px;
  border-color: #a6a6a6;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  width: 225px;
  display: block;
}

.tooltip h5 {
  font-size: 1.05rem;
}

.tooltip p {
  font-size: 0.80rem;
}

table {
  border: none;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
}

td {
  text-align: right;
  padding: 2px 0!important;
}

tr {
  margin: 0;
  background-color: white;
}


.node {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2.5px;
  font: 10px sans-serif;
}

.node text {
  color: #333;
}

.link {
    fill: none;
    stroke: #888888;
    stroke-weight: 1px;
    stroke-opacity: 0.5;
}

.highlighted {
  fill: none;
  stroke: crimson;
  stroke-opacity: 1;
}

.suppressed {
  stroke: #f2f2f2;
}

.legend {
    font-size: 12px;
  }

rect {
  stroke-width: 2;
}

.highlight {
    stroke: red;
    stroke-weight: 4px;
    stroke-opacity: 1.0;
}

.row {
  padding-top: 50px;
}

.col-md-3 {
  background: rgba(250,255,255,0.5);
  border-left: 1px solid #333;
  height: 100%;
}

#english {
  padding: 1em;
  background: rgba(250,255,255,1);
  border-bottom: 1px solid #ccc;
}

#chinese {
  padding: 1em;
  background: rgba(250,255,255,1);
  border-bottom: 1px solid #ccc;
}

#source {
    color: brown;
}

/* Filters */

#accordion {
    position: fixed;
    width: 20%;
    right: 1;
}
.panel-body {
    background: rgba(250,255,255,0.5);
}
.panel-default > .panel-heading{
    /*background: #fff;*/
}

.panel-heading {
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group {
  margin-bottom: 0;
}

.panel-title a {
    color: #333;
    text-align: left;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
    text-decoration: none;
    outline: none;
}

.panel-options {
    padding: 5px;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

button[disabled=disabled] {
  display: none;
}
button[disabled=disabled] {
  color: #555 !important;
  opacity: 0.4;
}
.settings button[disabled=disabled] {
  display: none;
}
.checkbox-interaction-group {
    margin-left: 10px;
    margin-top: 5px;
    clear: both;
}
.checkbox-container {
    display: block;
    min-height: 22px;
    vertical-align: middle;
    margin-left: 10px;
}
.checkbox-container label {
    display:inline;
    margin-bottom: 0px;
}
